.form-section {
  .section-inner-wrp {
    position: relative;

    .image-wrp {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 650px;
      width: 100%;

      @include media-breakpoint-up(lg) {
        @include absolute-item(50%, 100%, top-left, 0, 0);
      }
    }

    .form-wrp {
      padding: $bg-section-gap;

      @include media-breakpoint-up(lg) {
        max-width: 674px;
        margin-left: auto;
      }

      @include media-breakpoint-up(xl) {
        padding: $bg-section-gap-xl;
      }

      @include media-breakpoint-up(xxl) {
        padding: $bg-section-gap-xxl;
      }
    }
  }
}
